@model IEnumerable<GerenciadorEscolar.Models.Aluno>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach(var aluno in Model)
        {
            <tr>
                <td>@aluno.Id</td>
                <td>@aluno.Nome</td>

            </tr>

        }
    </table>
</body>
</html>